/* html element styling */

/* 
Below are some settings suggested
by rainyday.js might be nice for the
banner
*/

/* body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
} */

/* class styling */
.banner {
	background-color: #006666;
}

.banner-name {
	text-align: center;
	color: #C8C8C8
}

.banner-byline {
	text-align: center;
	color: #C8C8C8
}

.giphy-embed {
	pointer-events: none;
}

.important-links li {
	display: inline;
}

.project-links li {
	display: inline;
}

/* id styling */
#twitter-link{}

#github-link{}

#linkedin-link{}

#deviant-link{}