/* html element styling */

body {
  background: #000000;
  overflow: hidden;
  font-family: 'Droid Sans', sans-serif;
  color: #C8C8C8;
  font-size: 16px
}

canvas {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  z-index: -1;
}

#banner {
	background-color: #45B98A;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	z-index: 2;
}

#banner-name {
  pointer-events: none;
  width: 100%;
  color: rgba(255, 255, 255);
  text-shadow: 5px 5px 0 rgba(0,0,0,0.2);
  font-family: sans-serif;
  font-size: 50px;
  text-align: center;
  z-index: 2;
}

#banner-subtext {
  pointer-events: none;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  z-index: 2;
}

#content {
	position:relative;
	width: 100%;
	padding: 20px;
	color: #C8C8C8;
}
#footer {
	position:relative;
}

.message::selection {
  background: transparent;
}

.giphy-embed {
	pointer-events: none;
}

.profiles, .projects {
	position: relative;
	text-align: center;
	
}

.link-bar li {
	display: inline-block;
}


/* class styling */
/*
body {
	margin: 0;
	padding: 0;
	background-color: #000000;
	color: #C8C8C8;
	display: block;
	font-size: 16px;
	text-align: center;
	min-width: 256px;
}

canvas {
	-webkit-user-select: none;
  	-moz-user-select: none;
  	-o-user-select: none;
  	user-select: none;
  	z-index: -1 
}

.banner {
	position: absolute;
	background-color: #006666;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	font-family: 'Droid Sans', sans-serif;
	z-index: 2;
}

.banner-content {
	max-width: 1260px;
	margin: 0 auto;
	padding: 160px 0;
}

.banner-name {
	pointer-events: none;
	font-size: 50px;
	text-align: center;
	text-shadow: 5px 5px 0 rgba(0,0,0,0.2);
	color: #C8C8C8;
}

.banner-byline {
	pointer-events: none;
	font-size: 20px;
	text-align: center;
	color: #C8C8C8;
}

.message {
	pointer-events: none;
	width: 100%;
  	color: rgba(255, 255, 255, 0.3);
  	font-family: sans-serif;
  	font-size: 12px;
  	text-align: right;
}

.message::selection{ background: transparent; }


.link-container h3 {
	color: #C8C8C8;
	text-align: center;
}

.important-links {
	text-align: center;
}

.important-links li {
	display: inline-block;
}

.project-links {
	text-align: center;
}

.project-links li {
	display: inline-block;
}

/* id styling */
/*#twitter-link{}

#github-link{}

#linkedin-link{}

#deviant-link{}
