/* html element styling */

body {
  background: #45B98A;
  overflow: hidden;
}

canvas {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#name-title {
  pointer-events: none;
  position: absolute;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
  font-family: sans-serif;
  font-size: 50px;
  text-align: center;
}

#name-subtext {
  pointer-events: none;
  position: absolute;
  bottom: 40px;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

.count {
  font-size: 25em;
  bottom: auto;
  top: 20%;
  color: rgba(255, 255, 255, 0.2);
}

.count::selection, .message::selection {
  background: transparent;
}


/* class styling */
/*
body {
	margin: 0;
	padding: 0;
	background-color: #000000;
	color: #C8C8C8;
	display: block;
	font-size: 16px;
	text-align: center;
	min-width: 256px;
	font-family: 'Droid Sans', sans-serif;
}

canvas {
	-webkit-user-select: none;
  	-moz-user-select: none;
  	-o-user-select: none;
  	user-select: none;
  	z-index: -1 
}

.banner {
	position: absolute;
	background-color: #006666;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	font-family: 'Droid Sans', sans-serif;
	z-index: 2;
}

.banner-content {
	max-width: 1260px;
	margin: 0 auto;
	padding: 160px 0;
}

.banner-name {
	pointer-events: none;
	font-size: 50px;
	text-align: center;
	text-shadow: 5px 5px 0 rgba(0,0,0,0.2);
	color: #C8C8C8;
}

.banner-byline {
	pointer-events: none;
	font-size: 20px;
	text-align: center;
	color: #C8C8C8;
}

.message {
	pointer-events: none;
	width: 100%;
  	color: rgba(255, 255, 255, 0.3);
  	font-family: sans-serif;
  	font-size: 12px;
  	text-align: right;
}

.message::selection{ background: transparent; }

.giphy-embed {
	pointer-events: none;
}

.profiles, .projects {
	position: absolute;
	z-index: 2;
}

.link-container h3 {
	color: #C8C8C8;
	text-align: center;
}

.important-links {
	text-align: center;
}

.important-links li {
	display: inline-block;
}

.project-links {
	text-align: center;
}

.project-links li {
	display: inline-block;
}

/* id styling */
/*#twitter-link{}

#github-link{}

#linkedin-link{}

#deviant-link{}
